{{define "body"}}

<h1 class="main-header">Favourite Music Bands API</h1>

{{range $index, $artist := .Artists}}

<div class="card-container">
  <div class="info-item">
    <div class="card-header">
      <h6 class="id">Id: #{{ $artist.Id }}</h6>

      <div class="nameNmembers">
        <h3 class="band-name">
          <a href="{{ $artist.Artists_link }}" target="_blank"
            >{{ $artist.Name }}</a
          >
        </h3>

        {{ $length := len $artist.Members}}
        <p class="band-members">
          ({{range $index2, $member := $artist.Members}} {{$member}}{{ if lt
          ($.Add 1 $index2) $length }}, {{else}} {{end}}{{end}})
        </p>
      </div>
    </div>

    <p class="gray-text no-bottom-margin">Creation date:</p>
    <p class="indented-text no-top-margin">{{ $artist.CreationDate }}</p>
    <p class="gray-text no-bottom-margin">First album:</p>
    <p class="indented-text no-top-margin">{{$artist.FirstAlbum }}</p>
    <details>
      <summary class="gray-text no-bottom-margin">
        Concert dates and locations:
      </summary>
      <div>
        <!-- Outer list of locations -->
        <ul style="list-style-type: none">
          {{ range $location, $dates := (index $.Relations.Index
          $index).DatesLocations }}
          <li class="location-item">
            {{ $location }}

            <!-- inner list of dates -->
            <ol style="list-style-type: none">
              {{ range $index3, $date := $dates }}
              <li>{{ $date }}</li>
              {{end}}
            </ol>
          </li>
          {{end}}
        </ul>
      </div>
    </details>
  </div>

  <div class="image-item">
    <img src="{{ $artist.Image }}" class="band-image" />
  </div>
</div>

{{end}} {{end}}
