{{define "header"}}

<div class="fixed-header">
  <form class="horizontal-flex">
    <!-- Filter by creation date -->
    <div class="vertical-flex">
      <div>
        <label for="c-date-filter-1">Creation date from:</label>
        <input
          type="number"
          id="c-date-filter-1"
          name="c-date-filter-1"
          min="0"
          max="5000"
          size="5"
        />
        <label for="c-date-filter-2">to:</label>
        <input
          type="number"
          id="c-date-filter-2"
          name="c-date-filter-2"
          min="0"
          max="5000"
          size="5"
        />
      </div>
      {{if .Filter_errors.Cdate_err}}
      <p class="error no-top-margin">{{.Filter_errors.Cdate_err}}</p>
      {{end}}
    </div>

    <!-- Filter by first album -->
    <div class="vertical-flex">
      <div>
        <label for="first-album-1">First album date from:</label>
        <input type="date" id="first-album-1" name="first-album-1" />
        <label for="first-album-2">to:</label>
        <input type="date" id="first-album-2" name="first-album-2" />
      </div>

      {{if .Filter_errors.Firstalbum_err}}
      <p class="error no-top-margin">{{.Filter_errors.Firstalbum_err}}</p>
      {{end}}
    </div>

    <!-- Filter by number of members -->
    <div>
      <label for="members-filter">Number of members:</label>
      <input
        type="number"
        id="members-filter"
        name="members-filter"
        min="1"
        max="100"
        size="2"
      />
    </div>

    <!-- Filter by concert locations -->
    <div>
      <label for="locations-trigger">Concert locations:</label>
      <input
        type="checkbox"
        id="locations-trigger"
        name="locations-trigger"
        class="locations-trigger visually-hidden"
      />
      <div class="locations-list hide">{{ }}</div>
    </div>

    <input type="submit" value="search" />
  </form>
</div>

{{end}}
