{{template "base" .}} {{define "body"}} {{ range $index, $artist := .Artists}}

<div class="card-container">
  <div class="info-item">
    <h6>Id: #{{ $artist.Id }}</h6>
    <h3>{{ $artist.Name }}</h3>

    {{ $length := len $artist.Members}}
    <p>
      ({{range $index2, $member := $artist.Members}} {{$member}}{{ if lt ($.Add
      1 $index2) $length }}, {{else}} {{end}}{{end}})
    </p>

    <p>
      Creation date: {{ $artist.CreationDate }}<br>
      First album: {{$artist.FirstAlbum }}<br><br>
      <button type="button" class="collapsible">Concert dates and locations:</button>
      <div class="relations">
        <ul style="list-style-type: none">
          {{ range $location, $dates := (index $.Relations.Index $index).DatesLocations }}
            <li>
              {{ $location }}
              <ol style="list-style-type: none">
                {{ range $index3, $date := $dates }}
                  <li> {{ $date }} </li>
                {{end}}
              </ol>
            </li>
          {{end}}
        </ul>
      </div>
     
    </p>
  </div>

  <div class="image-item">
    <img src="{{ $artist.Image }}" />
  </div>
</div>

{{end}} {{end}} {{define "title"}}Home page{{end}}
