{{template "base" .}} {{define "body"}} {{ range $index, $artist := .Artists}}

<div class="card-container">
  <div class="info-item">
    <h6>Id: #{{ $artist.Id }}</h6>
    <h3>{{ $artist.Name }}</h3>

    {{ $length := len $artist.Members}}
    <p>
      ({{range $index2, $member := $artist.Members}} {{$member}}{{ if lt ($.Add
      1 $index2) $length }}, {{else}} {{end}}{{end}})
    </p>

    <ul>
      <li>Creation date: {{ $artist.CreationDate }}</li>
      <li>First album: {{$artist.FirstAlbum }}</li>
      <li>Concert dates:</li>
    </ul>
  </div>

  <div class="image-item">
    <img src="{{ $artist.Image }}" />
  </div>
</div>

{{end}} {{end}} {{define "title"}}Home page{{end}}
