body {
  text-align: center;
  background-color: gray;
}

.card-container {
  width: 90vw;
  background-color: antiquewhite;
  margin: 1vh auto 1vh auto;
  border-radius: 2vh;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.info-item {
  width: 60vw;
  /* background-color: aqua; */
  text-align: left;
}

.image-item {
  width: 20vw;
  /* background-color: aquamarine; */
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.relations {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
