body {
  text-align: center;
  background-color: whitesmoke;
  margin: 0;
}

.main-header {
  height: 50vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.card-container {
  width: 90%;
  background-color: antiquewhite;
  margin: 1vh auto 1vh auto;
  border-radius: 5vh;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.info-item {
  width: 60%;
  text-align: left;
}

.image-item {
  width: 20%;
}
.band-image {
  width: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 5%;
}

.location-item {
  margin-bottom: 2vh;
}

.card-header {
  text-align: center;

  display: flex;
  flex-direction: row;
}

.id {
  width: 10%;
  text-align: left;
  vertical-align: text-top;
}

.nameNmembers {
  width: 90%;
  margin: 2vh auto auto;
}

.band-name {
  vertical-align: text-bottom;
  margin: auto;
}

.band-members {
  vertical-align: text-top;
  margin: auto;
}
