@media only screen and (max-width: 800px) {
  .card-container {
    width: 90%;
    border-radius: 2vh;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-item {
    width: 90%;
    order: 1;
  }

  .info-item {
    width: 90%;
    order: 2;
  }

  #fixed-header {
    flex-direction: column;
    align-items: flex-start;
  }

  #filters {
    flex-direction: column;
    align-items: flex-start;
  }

  #filters > * {
    margin: 1rem;
  }

  #locations-list {
    display: flex;
    position: relative;
    width: 80vw;
    height: 50vh;
    flex-wrap: wrap;
  }

  #locations-filter {
    text-align: left;
  }
}
